.App {
 text-align: center;
}

.App-logo {
  float: left;
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding-top: .75em;
  color: white;
}

.Nav-bar {
  padding-top: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.PageHeader {
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin: 15px 0px 15px 0px;
}

.LocInput {
  border: 0;
  border-bottom: solid 1px #f16051;
  margin-right: 10px;
  font-size: 18px;
}

.footer {
  background-color: #D3D3D3;
}
