.App-logo {
  float: left;
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.app-header {
  background-color: #222;
  height: 8vh;
  color: white;
}

.footer {
  height: 5vh;
  background-color: #D3D3D3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-bar {
  padding-top: 50px;
}

.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  text-align: center;
}

#content-wrapper {
  width: 100vw;
  height: 87vh;
}
