.title-container {
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: .5;
  background-color: #a8a8a8;
  padding: 10px 0px 10px 0px;
  margin: 15px 0px 15px 0px;
}

.form-container {
  height: 80vh;
  padding: 10px 0px 10px 0px;
  margin: 15px 0px 15px 0px;
  background-color: #000000;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}
